@import '../../../styles/mixins.scss';

.layers-picker {
    @include flex-definition(column, center, flex-start);
    background-color: var(--color--primary);
    color: #fff;
    padding: .75rem;
    border-radius: .25rem;
    z-index: 2;

    div:last-child {
        margin-bottom: 0 !important;
    }
}
